* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    height: 75px;
    background-color: rgba(89, 206, 167, 0.438);
    border: solid black 1px;
    justify-content: flex-end;
    margin-bottom: 30px;
}

header button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.goods-item {
    padding-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid black 1px;
    margin: 10px;
}

.goods-item-image {
    width: 200px;
    height: 200px;
    border: solid black 1px;
}

.cart-wrapper {
    background-color: ivory;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    margin: 5px;
}

.cart-header {
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    border-right: 1px solid grey;
    padding-top: 5px;
    padding-left: 5px;
    width: 200px;
    text-align: center;
}

.cart-info {
    align-self: center;
    position: relative;
    margin-right: 50px;
}

.cart-data {
    padding-top: 5px;
    border-right: 1px gray solid;
    width: 200px;
    text-align: center;
}

.cart {
    position: absolute;
    width: 700px;
    display: flex;
    flex-direction: column;
    right: 140px;
    top: 20px;
    background-color: lightgreen;
}

.cart__active {
    display: flex;
}

.cart-total {
    padding-top: 15px;
    padding-right: 20px;
    align-self: flex-end;
    padding-bottom: 10px;
}

.add-button {
    margin: 10px;
    padding: 0px 10px;
}

.remove-button {
    margin-bottom: 10px;
    padding: 0px 10px;
}

.cart_line {
    display: flex;
    justify-content: space-between;
}

.cart-headers {
    display: flex;
}